
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> <!-- set automatically, see soupault.toml --> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Beau McCartney" />
    <meta name="description" content="Beau McCarntey - a new graduate software engineer specializing in graphics programming and compilers. Looking for opportunities in game dev and graphics" />
    <meta
      name="keywords"
      content="personal, portfolio, website, beau, mccartney, Beau McCartney, software, engineer, computer, graphics, computer graphics, gamedev, game developer, low-level, low level programming systems, program, programming, code, coding, developer, C programming, job"
    />
    <meta name="robots" content="index, follow" />

    <!-- TODO: statically render math using some kind of hook -->
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <link rel="stylesheet" href="/css/sakura-dark.css" media="screen and (prefers-color-scheme: dark)"/>

    <link rel="stylesheet" href="/css/highlight.css">

    <link rel="stylesheet" href="/css/style.css">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml"/>
    <script data-goatcounter="https://beaumccartney.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </head>
  <body>
    <main>
    </main>
  </body>
</html>
